.navbar-container {
    color: black;
}
section {
	display: grid;
	place-items: center;
	height: 100vh;
	font-size: 22px;
	font-weight: bold;
}

nav {
	display: flex;
	align-items: center;
	position: -webkit-sticky;
	position: sticky;
	top: -5px;
	z-index: 2;
	height: 70px;
	min-height: 70px;
	width: calc(100% - 1.5rem);
	width: 100vw;
	background-color: #fff;
	padding: 0 1rem;
	box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
	position: fixed;
	background-color: rgb(5, 86, 126);
	
}

ul {
	width: 60%;
	height: 70%;
	text-decoration: none;
	list-style: none;
	display:flex;
    justify-content: space-between;
	align-items: center;
	margin-left: 45% ;
	margin-top: 2%;
	background-color: rgb(62, 199, 237);
}

ul li #link {
	text-decoration: none;
	list-style:none;
	width: 30%;
	margin-left: 2%;
	color: rgb(5, 86, 126);
	/* rgb(5, 86, 126); */
	background-color: rgb(62, 199, 237);
	font-size: large;	
	font-family:sans-serif;
}

ul li {
	color: rgb(6, 91, 171);	
	width: 30%;
	margin-right: 3%;
	background-color: rgb(62, 199, 237);
	font-size: large;
	font-family:sans-serif;
	contain: content;
 }

 ul li #link:hover, ul li:hover, ul li i:hover, .s:hover {
	 color: rgb(1, 30, 117);
	 cursor: pointer;
 }
  
 ul li i{
   margin-left: -1%;
   color: rgb(6, 91, 171);	
   background-color: rgb(62, 199, 237);
 }
 .s {
	background-color: rgb(62, 199, 237); 
 }


@media (max-width: 780px) {
	ul {
		display: none;
	}
}


.logo{
	width: 10%;
	height: 100%;
	margin-right: 10px;
	background-color: black;
  }

.site-logo-div {
	width: 14%;
	height: 85%;
	margin-left: 0.5%;
	box-shadow: rgba(16, 15, 15, 0.11);
	align-items: center;
	margin-top: 0.5%;
	border: 4px solid rgb(3, 86, 124);
}
@media (min-width: 412px) {
	.site-logo-div {
		width: 23%;
		height: 89%;
		margin-left: -0.5%;	
	}
	ul {
		margin-top: 1%;
	}	
}

@media (min-width: 1224px) {
	ul {
		margin-top: 2%;
	}
}

@media (min-width: 856px) {
	.site-logo-div {
		width: 22%;
		height: 90%;
		margin-left: -0.5%;	
	}

	ul {
	width: 42%;
	height: 70%;
	margin-left: 32% ;
	margin-top: 2%;
	}

	ul li #link {
		font-size: 17px;
	}
}

@media (min-width: 852px) {
	.site-logo-div {
		width: 18%;
		height: 90%;
		margin-left: -0.5%;	
	}
	
	ul {
	width: 43%;
	height: 70%;
	margin-left: 45%;
	margin-top: 2%;
	}

	ul li #link {
		font-size: 17px;
	}

}

.site-logo {
	width: 100%;
	height: 100%;
	background-color: black;

}
  
  .right{
	display: flex;
	justify-content: space-evenly;
	/* background: rgb(6, 187, 242); */
	background-color: black;
	border-radius: 16px;
	padding: 12px 20px;
	height: 70%;
	width: 25%;
	margin-left: 65%;
	margin-top: 0.5%;
  }
  .right p {
	/* background-color: rgb(6, 187, 242);  */
	color: white;
	background-color: black;
	font-size: larger;
	/* margin-top:1%; */
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }